.md-modal.md-effect-12.modal-answer-questions

    include ../navigation

    section.content

        +modal-header("The most important moment for poker tells")

        .md-content

            .modal-container

                .container
                    p.question-number(style="margin-left: 25px") 1 / 10

                    .answer-box(style="margin-left: 25px")
                        p Well.. I think that he is doing this because he probably has a strong delayed tion to how the player is interacting with some of the different things that is going on in the hand. I really think that he is probably just weak.

                    .quiz-answers(style="margin-left: 25px")

                        .answer
                            .select-answer
                                .yes.correct Yes
                                .no No
                                a.visible-xs(href="") 20:00:22

                            h5 Identified the slow speed at which he checked his cards?
                                a.hidden-xs(href="") 20:00:22


                        .answer
                            .select-answer
                                .yes.correct Yes
                                .no No
                                a.visible-xs(href="") 20:00:22

                            h5 Identified the slow speed at which he checked his cards?
                                a.hidden-xs(href="") 20:00:22

                        .answer
                            .select-answer
                                .yes Yes
                                .no.wrong No
                                a.visible-xs(href="") 20:00:22

                            h5 Identified the slow speed at which he checked his cards?
                                a.hidden-xs(href="") 20:00:22

                        .answer
                            .select-answer
                                .yes.correct Yes
                                .no No
                                a.visible-xs(href="") 20:00:22

                            h5 Identified the slow speed at which he checked his cards?
                                a.hidden-xs(href="") 20:00:22

                        .answer
                            .select-answer
                                .yes Yes
                                .no No
                                a.visible-xs(href="") 20:00:22

                            h5 Identified the slow speed at which he checked his cards?
                                a.hidden-xs(href="") 20:00:22

                    .skip-question.visible-xs: button Skip Question

            .skip-question.hidden-xs: button Skip Question


        +modal-footer()


.md-overlay