.md-modal.md-effect-12.coming-soon-modal
    i.icon-icon-close.md-close

    .container
        .md-content
            h2 Comming soon?

            p The simple reality is that most players who are focusing on nonverbal behavior are not really interested. We really need to apply system 5 thinking. In order to focus on those actuall are when actually playing.

            button.md-close Okay, Blake. Got it

.md-overlay