.md-modal.md-effect-12.modal-explanation

    include ../navigation

    section.content

        +modal-header("The most important moment for poker tells")

        .md-content
            .modal-container

                .container
                    p.question-number 1 / 10 - explination

                    p.explanation Correct. The Delayed Apex is the speed of this players apex and the sound that he displays in those specific example.The speed of this players apex and the sound that he displays in those specific example.The speed of this players apex and the sound that he displays in those specific example.The speed of this players apex and the sound that he displays in those specific example.The speed of this players apex and the sound that he displays in those specific example.The speed of this players apex and the sound that he displays in those specific example.

                    .buttons

                        .button
                            button.select-answer.correct Delayed Apex
                                span.approved-icon.icon-icon-approved-light

                        .button
                            button.select-answer.re-watch.black Re - Watch Clip
                                span.replay-icon.icon-icon-refresh

                    .skip-question.visible-xs: button Skip Question

            .skip-question.hidden-xs: button Skip Question


        +modal-footer()


.md-overlay