.md-modal.md-effect-12.modal-feedback

    include ../navigation

    section.content

        +modal-header("The most important moment for poker tells")

        .md-content
            .modal-container


                .container

                    h2 Based on what you are seeing what is the most probable outcome for what you are seeing?

                    .feedback
                        span.text-left Extremely Helpful

                        .numbers
                            ul.list-inline
                                li.circle: | 1
                                li.circle: | 2
                                li.circle: | 3
                                li.circle: | 4
                                li.circle: | 5
                                li.circle: | 6
                                li.circle: | 7
                                li.circle: | 8
                                li.circle: | 9
                                li.circle: | 10
                                li.text-right Very Helpful

                            span.text-right Very Helpful

        footer

.md-overlay