.md-modal.md-effect-12.premium-content-modal
    i.icon-icon-close.md-close

    .container
        .md-content
            h2 Premium Content?

            p This is part of Beyond Tells Premium content. You currently are a basic member. If you want to upgrade and access all of these sick options just click below.

            button.md-close Okay, Blake. Got it

.md-overlay