.md-modal.md-effect-12.modal-start-test

    include ../navigation

    section.content

        +modal-header("The most important moment for poker tells")

        .md-content
            .modal-container

                .container
                    h3
                        span.icon-icon-time
                        | 10 minutes

                    h1 Practice test #1 - delayed apex reinforcement

                    p.test-description Watch the video. After each video you need to do those things. Make sure you are on going on those. Make sure you idesnigy. Watch the video. After each video you need to do those things. Make sure you are on going on those. Make sure you idesnigy. Watch the video.

                    button.md-close.start-test Start Test

        footer

.md-overlay