.fadeMe
nav.menu-appear
    i.icon-menu-close.close-menu

    ul
        li: a(href="") Index
        li: a(href="") Forum
        li: a(href="") Support
        li: a(href="") Notifications
        li: a(href="") Settings

    footer
        i.icon-icon-logout
        span Log Out